<!-- Needed only for pre-usable module development to view in browser. Once usable as a module this can be removed,
 and we can rely on the gulp file and the module.json to resolve the style sheet dependencies.-->

<link rel="stylesheet" href="../styles/knowledge-recalled.css">

<!-- End dev dependencies block -->

<div id="applicationWrapper" xmlns="http://www.w3.org/1999/html">
    <div id="journalTabs">
        <div class="encounterTab red">Encounter 1</div>
        <div class="encounterTab green">Encounter 2</div>
        <div class="encounterTab blue">Encounter 3</div>

    </div>
    <div id="journalContent">
        <div class="journalHeader">
            <div id="creatureList">
            <div id="focusedCreature"><img src="../templates/images/bugBear.png" width="238" height="247" alt="var-replace"></div>
                <div id="scrollWrapper">
                <div id="scrollableCreatures">
                    <div class="creatureImg">
                        <img src="../templates/images/bloodsiphon.png" width="123" height="124" alt="var-replace">
                        <span class="scrollCreatureName">Blood Siphon</span>
                    </div>
                    <div class="creatureImg">
                        <img src="../templates/images/unicorn.png" width="123" height="124" alt="var-replace">
                        <span class="scrollCreatureName">Unicorn</span>
                    </div>
                    <div class="creatureImg">
                        <img src="../templates/images/blank.png" width="123" height="124" alt="var-replace">
                        <span class="scrollCreatureName">Freznelkesh</span>
                    </div>
                    <div class="creatureImg">
                        <img src="../templates/images/blank.png" width="123" height="124" alt="var-replace">
                        <span class="scrollCreatureName">Aller Rosk</span>
                    </div>
                    <div class="creatureImg">
                        <img src="../templates/images/blank.png" width="123" height="124" alt="var-replace">
                        <span class="scrollCreatureName">Creature Name</span>
                    </div>
                </div>
                <div id="scrollPane">
                    <div id="leftArrow"><img src="../templates/images/leftArrow.png" width="75" alt="svg-replace"></div>
                    <div id="scrollBar"><img src="../templates/images/scrollBar.png" width="350"alt="svg-replace"></div>
                    <div id="rightArrow"><img src="../templates/images/rightArrow.png" width="75" alt="svg-replace"></div>
                </div>
                    </div>
            </div>
        </div>

        <div id="infoPanes">
            <div id="infoAndStatPane">
                <div id="name">Galtzagorri Hunter</div>
                <div id="traitsWrapper">
                    <span class="traits alignment">CN</span> <span class="traits common">COMMON</span> <span class="traits size">TINY</span>
                    <span class="traits type">SPRITE</span> <span class="traits type">FEY</span>
                </div>
                <div id="acArea" class="acAndSaves">
                    <span class="statTitle">AC:</span><span class="stat">17</span><img class="interactiveIcons" src="images/hidden.png" width="25" alt="svg-replace">
                    <span class="statTitle">DC:</span><span contenteditable="true" class="DC">18</span><img class="interactiveIcons" src="images/d20.png" width="20" alt="svg-replace">
                </div>
                <div id="fortArea" class="acAndSaves">
                    <span class="statTitle">Fort:</span><span class="stat">17</span><img class="interactiveIcons" src="images/hidden.png" width="25" alt="svg-replace">
                    <span class="statTitle">DC:</span><span contenteditable="true" class="DC">18</span><img class="interactiveIcons" src="images/d20.png" width="20" alt="svg-replace">
                </div>
                <div id="refArea" class="acAndSaves">
                    <span class="statTitle">Ref:</span><span class="stat">17</span><img class="interactiveIcons" src="images/hidden.png" width="25" alt="svg-replace">
                    <span class="statTitle">DC:</span><span contenteditable="true" class="DC">18</span><img class="interactiveIcons" src="images/d20.png" width="20" alt="svg-replace">
                </div>
                <div id="willArea" class="acAndSaves">
                    <span class="statTitle">Will:</span><span class="stat">17</span><img class="interactiveIcons" src="images/hidden.png" width="25" alt="svg-replace">
                    <span class="statTitle">DC:</span><span contenteditable="true" class="DC">18</span><img class="interactiveIcons" src="images/d20.png" width="20" alt="svg-replace">
                </div>
            </div>
            <div id="immunityWeaknessResistanceAttacksActionsPassivesPane"> <!-- span class=""><img src="images/hidden.png" width="25" alt="svg-replace"> </span> -->
                <div id="immunities">
                    <span class="statTitle">Immunities:</span><span class="immunities">none</span><img class="interactiveIcons" src="images/hidden.png" width="25" alt="svg-replace">
                </div>
                <div id="weaknesses">
                    <span class="statTitle">Weaknesses:</span><span class="weaknesses red card">cold iron</span><img class="interactiveIcons" src="images/hidden.png" width="25" alt="svg-replace">
                </div>
                <div id="resistances">
                    <span class="statTitle">Resistances:</span><span class="resistances">none</span><img class="interactiveIcons" src="images/hidden.png" width="25" alt="svg-replace">
                </div>
                <div id="attacks">
                    <span class="statTitle">Attacks:</span>
                    <span class="attacks lightBlue card">galtzagorri hook speak (M)</span><img class="interactiveIcons" src="images/hidden.png" width="25" alt="svg-replace">
                    <span class="attacks lightBlue card">galtzagorri hook speak (R)</span><img class="interactiveIcons" src="images/hidden.png" width="25" alt="svg-replace">
                </div>
                <div id="actions">
                    <span class="statTitle">Actions:</span>
                    <span class="actions green card">quick disassemble</span><img class="interactiveIcons" src="images/hidden.png" width="25" alt="svg-replace">
                    <span class="actions green card">spear snag</span><img class="interactiveIcons" src="images/hidden.png" width="25" alt="svg-replace">
                </div>
                <div id="passives">
                    <span class="statTitle">Passives:</span>
                    <span class="passives brown card">low-light vision</span><img class="interactiveIcons" src="images/hidden.png" width="25" alt="svg-replace">
                    <span class="passives brown card">craft anything</span><img class="interactiveIcons" src="images/hidden.png" width="25" alt="svg-replace">
                </div>
            </div>
            <div id="commonKnowledgeChecksAndSettingsPane">
                <div id="commonKnowledgeChecks">
                    <span id="commonSettingsHeader">Common Knowledge Checks</span>
                    <div id="lowestSaveWrapper">
                        <span id="lowestSave">Lowest Save | DC: </span>
                        <span class="DC">16</span>
                        <img src="images/d20.png" width="20" alt="svg-replace">
                        <img src="images/hidden.png" width="25" alt="svg-replace">
                    </div>
                    <div id="abilitiesWrapper">
                        <span id="abilities">Abilities | DC: </span>
                        <span class="DC">16</span>
                        <img src="images/d20.png" width="20" alt="svg-replace">
                        <img src="images/hidden.png" width="25" alt="svg-replace">
                    </div>
                    <div id="commonRKToggles" class="toggle">
                        <label for="randomToggle" class="toggleButton active">Random</label><input class="toggles" name="random" id="randomToggle" type="checkbox">
                        <label for="attacksToggle" class="toggleButton inactive">Attacks</label><input class="toggles" name="attacks" id="attacksToggle" type="checkbox">
                        <label for="abilitiesToggle" class="toggleButton inactive">Abilities</label><input class="toggles" name="abilities" id="abilitiesToggle" type="checkbox">
                        <label for="passivesToggle" class="toggleButton inactive">Passives</label><input class="toggles" name="passives" id="passivesToggle" type="checkbox">
                    </div>
                </div>
                <div id="settings">
                    <span id="globalSettingsHeader">Global Settings</span>
                    <div class="settingsTextBox">
                        <span id="DCIncrease">Successive Attempts DC Increase: +</span><div class="DC">2</div>
                    </div>
                    <div class="settingsToggleEntry">
                        <span id="disableChecks">Disable when: </span>
                        <div class="toggle">
                            <button class="toggleButton active">Crit Fails</button>
                            <button class="toggleButton inactive">Reg. Fails</button>
                            <button class="toggleButton inactive">Disabled</button>
                        </div>
                    </div>
                    <div class="settingsTextBox">
                        <span id="tieredDcIncrease">Tiered DC Increase: Custom +</span>
                        <span class="DC">2</span>
                        <label id="pf2eToggle2" for="pf2eRulesToggle" class="toggleButton active">PF2e Rules</label><input class="toggles" name="pf2eRules" id="pf2eRulesToggle" type="checkbox">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<style lang="scss">
@import "src/styles/global.scss";

</style>
