<div id="applicationWrapper">
    <div id="journalTabs">
        <div class="encounterTab"></div>
        <div class="encounterTab"></div>
        <div class="encounterTab"></div>
        //...
    </div>
    <div id="journalContent">
        <div id="focusedCreature">
            <img src="wireframing/assets/Images/ralldar.1.actor.webp" alt="focus">
        </div>
        <div id="scrollableCreatures">
            <div id="creatureList">
                <div class="creatureImg"><img src="wireframing/assets/Images/leonis.jpeg" alt="test"></div>
                <div class="creatureImg"><img src="wireframing/assets/Images/ralldar.1.actor.webp" alt="test2"> </div>
                <div class="creatureImg"></div>
                //...
            </div>
            <div id="scrollPane">
                <div id="leftArrow"></div>
                <div id="scrollBar"></div>
                <div id="rightArrow"></div>
            </div>
        </div>
        <div id="infoPanes">
            <div id="infoAndStatPane">

            </div>
            <div id="attacksActionsPassivesPane">

            </div>
            <div id="commonAndSettingsPane">

            </div>
        </div>
    </div>
</div>

<style lang="scss">

</style>
