<link rel="stylesheet" href="../styles/knowledge-recalled.css">

<div id="playerJournalWrapper">
    <div id="playerJournalEntriesWrapper">
        <table>
            <tr>
        <div class="creatureEntries">
            <div class="creatureHeaderWrapper">
                <span class="creatureEntryHeader"> Freznelkesh </span>
            </div>
            <div class="traitsWrapper fivePxMargin">
                <span class="traits alignment">CN</span> <span class="traits common">COMMON</span> <span class="traits size">TINY</span>
                <span class="traits type">SPRITE</span> <span class="traits type">FEY</span>
            </div>
        </div>
            </tr>
            <tr>
                <div class="creatureEntries">
                    <div class="creatureHeaderWrapper">
                        <span class="creatureEntryHeader"> Freznelkesh </span>
                    </div>
                    <div class="traitsWrapper fivePxMargin">
                        <span class="traits alignment">CN</span> <span class="traits common">COMMON</span> <span class="traits size">TINY</span>
                        <span class="traits type">SPRITE</span> <span class="traits type">FEY</span>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="creatureEntries">
                    <div class="creatureHeaderWrapper">
                        <span class="creatureEntryHeader"> Freznelkesh </span>
                    </div>
                    <div class="traitsWrapper fivePxMargin">
                        <span class="traits alignment">CN</span> <span class="traits common">COMMON</span> <span class="traits size">TINY</span>
                        <span class="traits type">SPRITE</span> <span class="traits type">FEY</span>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="creatureEntries">
                    <div class="creatureHeaderWrapper">
                        <span class="creatureEntryHeader"> Freznelkesh </span>
                    </div>
                    <div class="traitsWrapper fivePxMargin">
                        <span class="traits alignment">CN</span> <span class="traits common">COMMON</span> <span class="traits size">TINY</span>
                        <span class="traits type">SPRITE</span> <span class="traits type">FEY</span>
                    </div>
                </div>
            </tr>
        </table>
        </div>
    <div id="playerJournalFocusedWrapper">
        <div class="titleTraitsAcAndSaves bottomBorderTwoPixel">
            <div class="titleAndStats">
                <table class="statTable">
                    <tr>
                        <td colspan="4">Freznelkesh</td>
                        <td rowspan="9"><div class="focusImage">
                            <img src="./images/bloodsiphon.png" alt="Freznelkesh" class="responsiveImage">
                        </div></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                <div class="traitsWrapper">
                    <span class="traits alignment">CN</span> <span class="traits common">COMMON</span> <span class="traits size">TINY</span>
                    <span class="traits type">SPRITE</span> <span class="traits type">FEY</span>
                </div>
                    </td>
                    </tr>
                        <tr>
                            <td class="LAlign">AC:</td><td class="LAlign">14</td><td>&nbsp;</td><td class="CAlign">Lowest Save</td>
                        </tr>
                        <tr>
                        <td>Will:</td><td>16</td><td>&nbsp;</td><td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Fort:</td><td>18</td><td>&nbsp;</td><td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Ref:</td><td>15</td><td>&nbsp;</td><td class="CAlign">[[InsertTriangleHere]]</td>
                        </tr>
                        <tr>
                            <td class="LAlign">Imm:</td><td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Weak:</td><td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Res:</td><td>&nbsp;</td>
                        </tr>
                    </table>
            </div>
        </div>
        <div class="flexList bottomBorderTwoPixel">
            <div class="listEntry leftMarginFive">
                <span> Attacks: </span>
                <img src="./images/d20.png" width="20" alt="d20">
            </div>
            <div class="listEntry leftMarginFive">
                <span> Actions: </span>
                <img src="./images/d20.png" width="20" alt="d20">
            </div>
            <div class="listEntry leftMarginFive">
                <span> Passives: </span>
                <img src="./images/d20.png" width="20" alt="d20">
            </div>
            <div class="listEntry leftMarginFive">
                <span> Recall Creature Abilities: </span>
                <img src="./images/d20.png" width="20" alt="d20">
            </div>
        </div>
        <div class="flexList">
            <div class="listEntry headingSpacing">
                <span class="entryHeading3"> Description: </span>
            </div>
            <div class="listEntry">
                <div class="paragraphEntry leftMarginFive">
                    The description can be pulled either from the creatures profile provided by the system, or this
                    information can be provided by the GM. Much like the name, it will likely only become available
                    for view by the players once the name becomes available (one successful recal knowledge check.
                    <br>
                    <br>
                    The information will be presented as shown here. And it will continue to scroll should the
                    information run off of the page.
                </div>
            </div>
        </div>
    </div>
</div>
