<link rel="stylesheet" href="../styles/knowledge-recalled.css">
<script>
    import { array } from "yargs";
    import { getCreatures } from "../scripts/getData.js";



    function createTraitsArray(creature) {
        let traitsArray = [];
        traitsArray.push(creature.alignment);
        traitsArray.push(creature.rarity);
        traitsArray.push(creature.traits);
        traitsArray.push(creature.type);
        return traitsArray;
    }



</script>

<div id="journalWrapper">
    <div id="entriesWrapper">
        <table id="playerJournalEntriesTable">
            <tr><th>Freznelkesh</th></tr>
            <tr>
                <td>CN</td><td>COMMON</td><td>TINY</td><td>SPRITE</td><td>FEY</td>
            </tr>
        </table>
    </div>
    <div id="focusedMonsterWrapper">

    </div>
</div>
