$red: #5c0000;
$purple: #54166e;
$blue: #002564;
$lightBlue: #566193;
$green: #3a7a58;
$parchmentBrown: #cfc2ad;
$tableYellow: #ede3c7;
$tableLightYellow: #f4eee0;
$gold: #e5b55a;
$brown: #98503c;
$lightBrown: #a76754;
$gray: #323232;
$black: #000003;
$white: #f5f4f0;
$uncommon: $brown;
$rare: $blue;
$epic: $purple;
$alignment: $lightBlue;
$traits: $red;

* {
    box-sizing: border-box;
}

.alignment {
    background-color: $alignment;
    color: $white;
}
.common {
    background-color: $gray;
    color: $white;
}
.uncommon {
    background-color: $uncommon;
    color: $white;
}
.rare {
    background-color: $rare;
    color: $white;
}
.epic {
    background-color: $epic;
    color: $white;
}
.unique {
    background-color: $epic;
    color: $white;
}
.size {
    background-color: $red;
    color: $white;
}
.type {
    background-color: $red;
    color: $white;
}

.red {
    background-color: $red;
}
.purple {
    background-color: $purple;
}
.blue {
    background-color: $blue;
}
.lightBlue {
    background-color: $lightBlue;
}
.green {
    background-color: $green;
}
.brown {
    background-color: $brown;
}
.card {
    border: $gold 2px solid;
    padding: 2.5px;
    margin: 1px;
    color: white;
    vertical-align: middle;
}
.interactiveIcons {
    padding: 2.5px;
    vertical-align: middle;
}

.active {
    background-color: $red;
}
.inactive {
    background-color: $gray;
}
.traitsWrapper {
    align-self: center;
    justify-self: center;
}
.traits {
    border: $gold 2px solid;
    padding: 2.5px;
    left-margin: 2.5px;
    font-size: 0.60em;
}
.fivePxPadding {
    padding: 5px;
}
.fivePxMargin {
    margin: 5px;
}
.twoColumns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flexList {
    display: flex;
    flex-direction: column;
}
.listEntry {

}
.flexEnd {
    justify-content: end;
}
.bottomBorderTwoPixel {
    border-bottom: $black 2px solid;
}
.paragraphEntry {
    word-wrap: normal;
}
.headingSpacing {
    margin: 5px;
}
.entryHeading3 {
    font-size: 1.25em;
}
.leftMarginFive {
    margin-left: 5px;
}
.responsiveImage {
    max-width: 100%;
    height: auto;
}
